{% extends "CVBundle::layout.html.twig" %}


{% block cv_main %}

    {{ include("CVBundle:CV:menu.html.twig") }}

    <div id="projets" class="main l-page-cv l-projets projets container">

        <h2 class="col-md-6 offset-md-3 l-page-cv-title page-cv-title l-realisations-title realisations-title">Réalisations</h2>

        <div class="row l-realisations-content realisations-content l-page-cv-content page-cv-content">

            {% if realisations is not empty %}

                {% for realisation in realisations %}
                    <div class="realisation col-sm-12 col-md-6 col-lg-4">
                        <div class="realisation-content">
                            <img src="{{ asset(realisation.image) }}" height="200" width="200" alt="img realisation">
                            <a href="{{ realisation.link }}" target="_blank">
                                <div class="realisation-back">
                                    <div class="realisation-back-screen"></div>
                                    <div class="realisation-back-content">
                                        <h6>{{ realisation.titre }}</h6>
                                        <p>{{ realisation.description }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <p class="text-white">[Aucun Contenu pour le moment]</p>
            {% endif %}
        </div>
    </div>


{% endblock %}