{% extends "BlogBundle::layout.html.twig" %}


{% block blog_main %}

    {{ include("BlogBundle:Blog:menu.html.twig") }}

    <div id="post-show">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|nl2br }}</p>
        <p>{{ post.date|date('d/m/y') }}</p>
    </div>

    {% for comment in comments %}
        {{ comment.content }}
        {{ comment.date|date('d/m/y H:i') }}
        {{ comment.user.firstname }}
        <br>
    {% endfor %}



{% endblock %}